<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.Title}}</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<h1>{{.Title}}</h1>
</header>

{{if .Nav}}
<nav title="Site navigation">
<a href="/">home</a> {{range .Nav}}<a href="/{{.}}">{{.}}</a> {{end}}
</nav>
{{end}}

<main>
{{.Content}}
</main>

<footer>
<hr>
<small>powered by mist</small>
</footer>
</body>
</html>
